<div class=" clearfix col-md-12" style="text-align: center;"><h3>Form is disabled</h3></div>

<div class="row" style="background-color: #f8f8f8; padding: 20px 0;">
	<div class="col-md-6">

		<div class="form-group has-success has-feedback">
		    <label class="control-label" for="inputSuccess4">To</label>
		    <input type="text" disabled="disabled" value="New Delhi" placeholder="Type Departure City" class="form-control" id="inputSuccess4" aria-describedby="inputSuccess4Status">
		    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		    <span id="inputSuccess4Status" class="sr-only">(success)</span>
		</div>

	</div>

	<div class="col-md-6">

		<div class="form-group has-success has-feedback">
		    <label class="control-label" for="inputSuccess4">From</label>
		    <input type="text"  disabled="disabled" value="New Delhi" placeholder="Type Destination City" class="form-control" id="inputSuccess4" aria-describedby="inputSuccess4Status">
		    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		    <span id="inputSuccess4Status" class="sr-only">(success)</span>
		  </div>

	</div>

	<div class=" clearfix col-md-12"><hr></div>

	<div class=" clearfix col-md-12">

		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-primary active">
		    <input type="radio" name="options" id="option1" autocomplete="off" checked>One Way
		  </label>
		  <label class="btn btn-primary">
		    <input type="radio" name="options" id="option2" autocomplete="off">Round Trip
		  </label>		  
		</div>

	</div>

	<div class=" clearfix col-md-12"><hr></div>

	<div class="col-md-6">

		<div class="form-group has-success has-feedback">
		    <label class="control-label" for="inputSuccess4">Departure Date</label>
		    <input type="text"  disabled="disabled" value="4 April 2014" placeholder="Type Destination City" class="form-control" id="inputSuccess4" aria-describedby="inputSuccess4Status">
		    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		    <span id="inputSuccess4Status" class="sr-only">(success)</span>
		  </div>

	</div>

	<div class="col-md-6">

		<div class="form-group has-success has-feedback">
		    <label class="control-label" for="inputSuccess4">Arrival Date</label>
		    <input type="text"  disabled="disabled" placeholder="Return Date" class="form-control" id="inputSuccess4" aria-describedby="inputSuccess4Status">
		    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		    <span id="inputSuccess4Status" class="sr-only">(success)</span>
		  </div>

	</div>

	<hr>

	<div class=" clearfix col-md-12">

		<button type="button" disabled="disabled" class="btn btn-info btn-lg btn-block">Search Flights</button>

	</div>

</div>

<hr>



<div ng-app="ixigoTestApp" ng-controller="FlightsCtrl"> 


	<div class="col-md-6">
		<ul class="filter-list">
			<li>Choose Airlines</li>
			<li ng-repeat="(k,v) in airlines">
			    <input type="checkbox" ng-click="airlineToggle()" autocomplete="off" ng-model="v.state"> {{ v.name }}
			</li>
		</ul>
	</div>


	<div class="col-md-6">
		<ul class="filter-list">
			<li>Choose Class</li>
			<li ng-repeat="(k,v) in airlineClass">
			    <input type="checkbox" ng-click="airlineToggle()" autocomplete="off" ng-model="v.state"> {{ v.class }}
			</li>
		</ul>
	</div>


	<hr>


	<div ng-repeat="(k,v) in airportMap" class="btn-group" data-toggle="buttons">
	  <label class="btn btn-default">
	    <input type="checkbox" autocomplete="off" value="{{ k }}" checked>{{ v }}
	  </label>
	</div>

	<div class="clearfix"></div>

	<hr>

	<ul class="nav nav-pills sorter-list" style="float: right;">    
	    <li>
	    	<a href="" class="label-sorter">Take Off Time</a>
		    <a href="" class="sorter" ng-click="predicate = 'takeoffTime'; reverse=false">		    
		    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>		    
		    </a>
		    <a href="" class="sorter" ng-click="predicate = 'takeoffTime'; reverse=true">		    
		    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>		    
		    </a>		    		       		    
	    </li>

	    <li>
	    	<a href="" class="label-sorter">Landing Time</a>
		    <a href="" class="sorter" ng-click="predicate = 'landingTime'; reverse=false">		    
		    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>		    
		    </a>
		    <a href="" class="sorter" ng-click="predicate = 'landingTime'; reverse=true">		    
		    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>		    
		    </a>		    		       		    
	    </li>

	    <li>
	    	<a href="" class="label-sorter">Price</a>
		    <a href="" class="sorter" ng-click="predicate = 'price'; reverse=false">		    
		    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>		    
		    </a>
		    <a href="" class="sorter" ng-click="predicate = 'price'; reverse=true">		    
		    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>		    
		    </a>		    		       		    
	    </li>

	</ul>

	<table class="table table-striped">

		<thead>
			<tr>
				<th>Origin</th>
				<th>Destination</th>
				<th>Take off Time</th>
				<th>Landing Time</th>
				<th>Duration</th>
				<th>Price</th>
				<th>Airlines</th>
				<th>Class</th>			
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="(k,v) in flightsData | orderBy:predicate:reverse">
				<td>{{airportCodeToName(v.originCode)}}</td>
				<td>{{airportCodeToName(v.destinationCode)}}</td>
				<td>{{v.takeoffTime | date:'hh:mm a d MMMM yyyy' : 'UTC'}}</td>
				<td>{{v.landingTime | date:'hh:mm a d MMMM yyyy' : 'UTC'}}</td>
				<td>{{ duration(v.landingTime, v.takeoffTime) | date:'hh:mm' : 'UTC'}}</td>
				<td>{{ v.price | currency:'Rs. ' }}</td>
				<td>{{codeToName(v.airlineCode) }}</td>
				<td>{{v.class}}</td>
			</tr>
		</tbody>

	</table>




</div>


<div class=" clearfix col-md-12 center" style="text-align: center;"><h3>space below is left intentionally</h3></div>





